:root
{
    --allegro-orange: #ff5a00;
}

header
{
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 0;
    display: block;
    background-color: white;
}

header::after
{
    content: " ";
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    height: 1px;
    background-color: lightgray;
}

.header__container
{
    
    max-width: 1450px;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
    padding: 16px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__container img
{
    object-fit: contain;
}
.header__form
{
    width: 48%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__search 
{
    background-color: transparent;
    flex-grow: 1;
    height: 38px;
    padding: 0 8px;
    border-color: lightgray;
    border-width: 1px;
    color: gray;
    font-size: 15px;
    border-style: solid;
    outline: none;
}


.header__form button
{
    width: 86px;
    height: 40px;
    padding: 0 13px;
    border: none;
    background-color: var(--allegro-orange);
    color: white;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: Open Sans,sans-serif;
    font-size: 13px;
}


.header__options
{
    width: 27.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__options img
{
    padding: 4px;
}

.header__localization
{
    width:28px;
    height:28px;
    margin: 0;
}

.header__bascet
{
    position: relative;
}

.header__itemcount
{
    position: absolute;
    width: 16px;
    height: 16px;
    bottom: 0;
    right: 0;
    transform: translate(-25%,-25%);
    color: white;
    background-color: var(--allegro-orange);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 13px;
}

@media only screen and (max-width: 1000px) {
    .header__container
    {
        padding: 16px;
        flex-wrap: wrap;
    }
    .header__form
    {
        width: 100%;
        flex-grow: 1;
        margin-top: 5px;
        order: 3;
    }
    .header__options
    {
        width: auto;
        margin: 0;
        margin-left: auto;
    }
    .header__options img
    {
        margin-left: 16px;
    }
    .header__options img.header__localization
    {
        margin-left: 0px;
    } 
}